# Supabase configuration for client-side app
VITE_SUPABASE_URL= https://hpxenbmuxefpkehvxjzl.supabase.co

VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweGVuYm11eGVmcGtlaHZ4anpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NjQ4NjEsImV4cCI6MjEwNDM0MDg2MX0.hDzrZnMtpUq4yyVHjdBIeW2atG0QBkWiAEPC5O43yFQ

# Supabase Edge Functions (optional)
SUPABASE_URL=https://hpxenbmuxefpkehvxjzl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweGVuYm11eGVmcGtlaHZ4anpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NjQ4NjEsImV4cCI6MjEwNDM0MDg2MX0.hDzrZnMtpUq4yyVHjdBIeW2atG0QBkWiAEPC5O43yFQ

NOTCHPAY_API_KEY=
